# Exploración de las trazas.
Las trazas fueron proporcionados por la OSF: COCOA.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Archivos_trazas/Prosumer_ABC.csv",sep=';')
df.head()

,ID,Consumo (0) / Producción (1),Dia,Mes,Año,1,2,3,4,5,...,87,88,89,90,91,92,93,94,95,96
0,ABC,0,2,11,2013,58.00,75.0,65.0,0.08,67.0,...,338.0,369.0,318.00,322.0,345.0,298.00,316.00,299.0,341.00,304.0
1,ABC,0,3,11,2013,0.16,0.1,68.0,69.00,75.0,...,67.0,74.0,61.00,84.0,74.0,67.00,77.00,91.0,0.07,61.0
2,ABC,0,4,11,2013,0.08,66.0,77.0,64.00,84.0,...,114.0,106.0,128.00,511.0,74.0,84.00,59.00,69.0,69.00,71.0
3,ABC,0,5,11,2013,68.00,58.0,95.0,81.00,74.0,...,167.0,202.0,0.53,226.0,256.0,315.00,421.00,66.0,0.09,64.0
4,ABC,0,6,11,2013,77.00,61.0,97.0,65.00,78.0,...,117.0,345.0,351.00,69.0,57.0,0.07,0.07,72.0,56.00,78.0

In [3]:
df["Ceros Encontrados"] = (df == 0).astype(int).sum(axis=1)
df

,ID,Consumo (0) / Producción (1),Dia,Mes,Año,1,2,3,4,5,...,88,89,90,91,92,93,94,95,96,Ceros Encontrados
0,ABC,0,2,11,2013,58.00,75.0,65.0,0.08,67.0,...,369.0,318.00,322.0,345.0,298.00,316.00,299.0,341.00,304.0,1
1,ABC,0,3,11,2013,0.16,0.1,68.0,69.00,75.0,...,74.0,61.00,84.0,74.0,67.00,77.00,91.0,0.07,61.0,4
2,ABC,0,4,11,2013,0.08,66.0,77.0,64.00,84.0,...,106.0,128.00,511.0,74.0,84.00,59.00,69.0,69.00,71.0,1
3,ABC,0,5,11,2013,68.00,58.0,95.0,81.00,74.0,...,202.0,0.53,226.0,256.0,315.00,421.00,66.0,0.09,64.0,1
4,ABC,0,6,11,2013,77.00,61.0,97.0,65.00,78.0,...,345.0,351.00,69.0,57.0,0.07,0.07,72.0,56.00,78.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
723,ABC,1,27,10,2014,0.00,0.0,0.0,0.00,0.0,...,0.0,0.00,0.0,0.0,0.00,0.00,0.0,0.00,0.0,69
724,ABC,1,28,10,2014,0.00,0.0,0.0,0.00,0.0,...,0.0,0.00,0.0,0.0,0.00,0.00,0.0,0.00,0.0,75
725,ABC,1,29,10,2014,0.00,0.0,0.0,0.00,0.0,...,0.0,0.00,0.0,0.0,0.00,0.00,0.0,0.00,0.0,96
726,ABC,1,30,10,2014,0.00,0.0,0.0,0.00,0.0,...,0.0,0.00,0.0,0.0,0.00,0.00,0.0,0.00,0.0,91
727,ABC,1,31,10,2014,0.00,0.0,0.0,0.00,0.0,...,0.0,0.00,0.0,0.0,0.00,0.00,0.0,0.00,0.0,69